body{
	background-color: #b82a22;
}
.box{
	width: 96%;
	background-color: #981e17;
	margin: 15px 2%;
	border-radius: 10px;
	text-align: center;
}
.box img{
	margin-top: 18px;
}
.box-title{
	text-align: left;
	color: #fff;
	margin-left: 10px;
	padding: 8px 0 8px 45px;
}
.title{
	font-size: 16px;
}
.intr-txt{
	font-size: 12px;
	opacity: 0.8;
}
.ico-1{
	background: url(../images/ico-1.png) no-repeat left center;
	background-size: 36px 36px;
}
.ico-2{
	background: url(../images/ico-2.png) no-repeat left center;
	background-size: 36px 36px;
}
.ico-3{
	background: url(../images/ico-3.png) no-repeat left center;
	background-size: 36px 36px;
}